<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from demo.designing-world.com/classy-baao/classy-multipage/index-creative-dark.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Sep 2018 12:28:35 GMT -->

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Special7</title>

    <!-- Favicon  -->

    <link rel="shortcut icon" href="img/core-img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery (necessary for all JavaScript plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>

    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="revolution/css/navigation.css">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css1/core-style.css">
    <link rel="stylesheet" href="style.css">

    <!-- Responsive css -->
    <link href="css1/responsive/responsive.css" rel="stylesheet">

    <!-- Switch Fonts -->
    <link href="css1/fonts/opensans.css" rel="stylesheet">


    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>

</head>

<body>

       
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="classy-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area">
        <div class="main_header_area animated">
            <div class="container">
                <nav id="navigation1" class="navigation">
                    <!-- Logo Area Start -->
                    <div class="nav-header">
                        <a class="nav-brand" href="#">Spe7<span style="color: #00e8e8">cial</span>
                        </a>
                        <div class="nav-toggle"></div>
                    </div>

                    <!-- Main Menus Wrapper -->
                    <div class="nav-menus-wrapper">
                        <ul class="nav-menu align-to-right">
                          
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li><a href="#">Classes</a>
                                <ul class="nav-dropdown">
                                    <li><a href="/subject/single?id=29" target="_blank">Class 10</a></li>
                                    <li><a href="/subject/single?id=30" target="_blank">Class 11</a></li>
                                    <li><a href="/subject/single?id=31" target="_blank">Class 12</a></li>
                                    <li><a href="/subject/single?id=32" target="_blank">B.sc                 <span class="label label-pill label-primary">Comming Soon</span></a></li>
                                    <li><a href="/subject/single?id=33" target="_blank">B.com   <span class="label label-pill label-primary">Comming Soon</span></a></li>
                                    <li><a href="/subject/single?id=34" target="_blank">B.E.   <span class="label label-pill label-primary">Comming Soon</span></a></li>                                  
                                </ul>
                            </li>
                           
                            <li>
                                <a href="/contact">Contactus</a>
                            </li>
                            <li>
                            <% if(login == true)  { %>
                                <a href="/drive">Drive&nbsp;&nbsp;<i style="font-size:18px" class="fa">&#xf003;</i></a>
                                <% } %>
                                </li>

                            <li>
                                <% if(login == true)  { %>
                                    <a href="/users/logout">logout</a>
                                    <% } else { %>
                                        <a href="/users">Login</a>
                                    <% } %>

                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome_area creative_version" id="home">
        <div class="content">
            <div id="rev_slider_1061_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="creative-freedom" data-source="gallery"
                style="background-color:#1f1d24;padding:0px;">
                <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
                <div id="rev_slider_1061_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-2978" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                            data-easein="default" data-easeout="default" data-masterspeed="2000" data-thumb="assets/images/Sail-Away-100x50.jpg"
                            data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2=""
                            data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                            data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="assets/images/Sail-Away.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgparallax="3" class="rev-slidebg"
                                data-no-retina>
                            <!-- LAYERS -->

                            <!-- BACKGROUND VIDEO LAYER -->
                            <div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%"
                                data-videomp4="/video/sail-away.MP4" data-videopreload="auto" data-videoloop="loop" data-aspectratio="16:9"
                                data-autoplay="true" data-autoplayonlyfirsttime="false"></div>
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-tobggroup" id="slide-2978-layer-1" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                data-fontweight="['100','100','400','400']" data-width="full" data-height="full" data-whitespace="nowrap"
                                data-type="shape" data-basealign="slide" data-responsive_offset="off" data-responsive="off" data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":150,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power2.easeInOut"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;text-transform:left;background-color:rgba(18, 12, 20, 0.75);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-3" id="slide-2978-layer-4" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-178','-178','-168','-141']"
                                data-width="1" data-height="100" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on"
                                data-responsive="off" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;text-transform:left;background-color:rgba(205, 176, 131, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption Creative-SubTitle   tp-resizeme rs-parallaxlevel-2" id="slide-2978-layer-3" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-91','-91','-81','-64']"
                                data-fontsize="['14','14','14','12']" data-lineheight="['14','14','14','12']" data-width="none"
                                data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2350,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap;text-transform:left; font-family: Open Sans;">Future of Education Technology</div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption Creative-Title   tp-resizeme rs-parallaxlevel-1" id="slide-2978-layer-2" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','-10','-10']"
                                data-fontsize="['70','70','50','40']" data-lineheight="['70','70','55','45']" data-width="['none','none','none','320']"
                                data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2550,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; white-space: nowrap;text-transform:left; font-family: Open Sans; ">The Premium System Education</div>

                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-3" id="slide-2978-layer-5" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['137','137','119','100']"
                                data-width="1" data-height="100" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on"
                                data-responsive="off" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2900,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 9;text-transform:left;background-color:rgba(205, 176, 131, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                            </div>

                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption Creative-Button rev-btn  rs-parallaxlevel-15" id="slide-2978-layer-6" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['694','611','689','540']"
                                data-fontweight="['400','500','500','500']" data-width="none" data-height="none" data-whitespace="nowrap"
                                data-type="button" data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                                data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":3850,"ease":"Power2.easeOut"},{"delay":"wait","speed":500,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","ease":"Power1.easeIn"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(205, 176, 131, 1.00);bc:rgba(205, 176, 131, 1.00);bw:1px 1px 1px 1px;"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[15,15,15,15]" data-paddingright="[50,50,50,50]"
                                data-paddingbottom="[15,15,15,15]" data-paddingleft="[50,50,50,50]" style="z-index: 10; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; font-family: Open Sans;"><a href="/allclasses" style="color: bisque;">Buy Notes</a></div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-2979" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                            data-easein="default" data-easeout="default" data-masterspeed="2000" data-thumb="assets/images/creative_bg1-100x50.jpg"
                            data-rotate="0" data-saveperformance="off" data-title="Quality" data-param1="02" data-param2="" data-param3=""
                            data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                            data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="assets/images/creative_bg1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                                data-bgparallax="3" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-tobggroup" id="slide-2979-layer-1" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide"
                                data-responsive_offset="off" data-responsive="off" data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":150,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power2.easeInOut"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 11;text-transform:left;background-color:rgba(18, 12, 20, 0.75);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                            </div>

                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-3" id="slide-2979-layer-4" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-178','-178','-168','-141']"
                                data-width="1" data-height="100" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on"
                                data-responsive="off" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 12;text-transform:left;background-color:rgba(205, 176, 131, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                            </div>

                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption Creative-SubTitle   tp-resizeme rs-parallaxlevel-2" id="slide-2979-layer-3" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-91','-91','-81','-64']"
                                data-fontsize="['14','14','14','12']" data-lineheight="['14','14','14','12']" data-width="none"
                                data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2350,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 13; white-space: nowrap;text-transform:left; font-family: Open Sans;">Future of Education System</div>

                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption Creative-Title   tp-resizeme rs-parallaxlevel-1" id="slide-2979-layer-2" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','-10','-10']"
                                data-fontsize="['70','70','50','40']" data-lineheight="['70','70','55','45']" data-width="['none','none','none','320']"
                                data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2550,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 14; white-space: nowrap;text-transform:left; font-family: Open Sans;">Welcome to Spe7cial E-Learning</div>

                            <!-- LAYER NR. 11 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-3" id="slide-2979-layer-5" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['137','137','119','100']"
                                data-width="1" data-height="100" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on"
                                data-responsive="off" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2900,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 15;text-transform:left;background-color:rgba(205, 176, 131, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                            </div>

                            <!-- LAYER NR. 12 -->
                            <div class="tp-caption Creative-Button rev-btn  rs-parallaxlevel-15" id="slide-2979-layer-6" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['694','611','689','540']"
                                data-fontweight="['400','500','500','500']" data-width="none" data-height="none" data-whitespace="nowrap"
                                data-type="button" data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                                data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":3850,"ease":"Power2.easeOut"},{"delay":"wait","speed":500,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","ease":"Power1.easeIn"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(205, 176, 131, 1.00);bc:rgba(205, 176, 131, 1.00);bw:1px 1px 1px 1px;"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[15,15,15,15]" data-paddingright="[50,50,50,50]"
                                data-paddingbottom="[15,15,15,15]" data-paddingleft="[50,50,50,50]" style="z-index: 16; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; font-family: Open Sans;"><a href="/allclasses" style="color: bisque;">Buy Notes</a></div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-2980" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"
                            data-easein="default" data-easeout="default" data-masterspeed="2000" data-thumb="assets/images/icebg-100x50.jpg"
                            data-rotate="0" data-saveperformance="off" data-title="Concept" data-param1="03" data-param2="" data-param3=""
                            data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                            data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="assets/images/icebg.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="3"
                                class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 13 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-tobggroup" id="slide-2980-layer-1" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape" data-basealign="slide"
                                data-responsive_offset="off" data-responsive="off" data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":150,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power2.easeInOut"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 17;text-transform:left;background-color:rgba(18, 12, 20, 0.75);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                            </div>

                            <!-- LAYER NR. 14 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-3" id="slide-2980-layer-4" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-178','-178','-168','-141']"
                                data-width="1" data-height="100" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on"
                                data-responsive="off" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 18;text-transform:left;background-color:rgba(205, 176, 131, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;">
                            </div>

                            <!-- LAYER NR. 15 -->
                            <div class="tp-caption Creative-SubTitle   tp-resizeme rs-parallaxlevel-2" id="slide-2980-layer-3" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-91','-91','-81','-64']"
                                data-fontsize="['14','14','14','12']" data-lineheight="['14','14','14','12']" data-width="none"
                                data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2350,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 19; white-space: nowrap;text-transform:left; font-family: Open Sans;">Future of Education System</div>

                            <!-- LAYER NR. 16 -->
                            <div class="tp-caption Creative-Title   tp-resizeme rs-parallaxlevel-1" id="slide-2980-layer-2" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','-10','-10']"
                                data-fontsize="['70','70','50','40']" data-lineheight="['70','70','55','45']" data-width="['none','none','none','320']"
                                data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":2550,"ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 20; white-space: nowrap;text-transform:left; font-family: Open Sans;">Get Your Education Today</div>

                            <!-- LAYER NR. 17 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  rs-parallaxlevel-3" id="slide-2980-layer-5" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['137','137','119','100']"
                                data-width="1" data-height="100" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on"
                                data-responsive="off" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2900,"ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power1.easeIn"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 21;text-transform:left;background-color:rgba(205, 176, 131, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;"></div>

                            <!-- LAYER NR. 18 -->
                            <div class="tp-caption Creative-Button rev-btn  rs-parallaxlevel-15" id="slide-2980-layer-6" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['694','611','689','540']"
                                data-fontweight="['400','500','500','500']" data-width="none" data-height="none" data-whitespace="nowrap"
                                data-type="button" data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                                data-responsive_offset="on" data-responsive="off" data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":3850,"ease":"Power2.easeOut"},{"delay":"wait","speed":500,"to":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","ease":"Power1.easeIn"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(205, 176, 131, 1.00);bc:rgba(205, 176, 131, 1.00);bw:1px 1px 1px 1px;"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[15,15,15,15]" data-paddingright="[50,50,50,50]"
                                data-paddingbottom="[15,15,15,15]" data-paddingleft="[50,50,50,50]" style="z-index: 22; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer; font-family: Open Sans;"><a href="/allclasses" style="color: bisque;">Buy Notes</a></div>
                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- >>>>>>>>>>>>>>>> Welcome Area End <<<<<<<<<<<<<<<< -->

    <!-- >>>>>>>>>>>>>>>> About Us Area Start <<<<<<<<<<<<<<<< -->
    <section class="about_area creative_version dark section_padding_100" id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <!-- Single Feature Area Start -->
                    <div class="single_feature wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature_img">
                            <i class="pe-7s-car" aria-hidden="true"></i>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h4>Learning Website</h4>
                            <p>
                                <span style="color:lightcoral !important;font-family: 'Pacifico';font-size :20px;">Spe7</span>
                                <span style="color: #00e8e8; font-family: 'Pacifico';font-size:20px;">cial</span> being the creator of India’s largest personalised learning website and India’s
                                largest engaging learning programs for students from classes 10-12 grades.
                                <br>
                                <span style="color:lightcoral !important;font-family: 'Pacifico';font-size :20px;">Spe7</span>
                                <span style="color: #00e8e8; font-family: 'Pacifico';font-size:20px;">cial</span> was launched in 2018 and has become the most preferred and loved learning website
                                for students across age groups.</p>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <!-- Single Feature Area Start -->
                    <div class="single_feature wow fadeInUp" data-wow-delay="0.6s">
                        <div class="feature_img">
                            <i class="pe-7s-paint-bucket" aria-hidden="true"></i>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text">
                            <h4>Learning Technology</h4>
                            <p>At
                                <span style="color:lightcoral !important;font-family: 'Pacifico';font-size :20px;">Spe7</span>
                                <span style="color: #00e8e8; font-family: 'Pacifico';font-size:20px;">cial</span> what has helped us create a holistic learning experience for students is the
                                unique combination of media, technology and content.
                                <br> With the use of technology and real life student – it makes the delivery of concepts very
                                easy, effective and engaging.

                            </p>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <!-- Single Feature Area Start -->
                    <div class="single_feature wow fadeInUp" data-wow-delay="0.9s">
                        <div class="feature_img">
                            <i class="pe-7s-tools" aria-hidden="true"></i>
                        </div>
                        <!-- Single Feature Image Area End -->
                        <div class="feature_text ">
                            <h4>Learning Way For Student</h4>
                            <p>We at
                                <span style="color:lightcoral !important;font-family: 'Pacifico';font-size :20px;">Spe7</span>
                                <span style="color: #00e8e8; font-family: 'Pacifico';font-size:20px;">cial</span> believe in giving our students the best learning experience across grades and
                                courses. If you are wondering if we have the services required for your child, here are the
                                courses we offer : • Maths, Physics, Chemistry and Biology for CBSE, ISC ( Classes 10th-12th)
                                • Coupling NCERT Solutions with respective grade portions
                            </p>
                        </div>
                        <!-- Single Feature Text Area End -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="about_us_area">
                <div class="row">
                    <!-- About Us Area -->
                    <div class="col-12 col-lg-6">
                        <!-- About Us Text Start -->
                        <div class="about_us_text wow fadeInUp" data-wow-delay="0.5s">
                            <h3 class="m-bottom-15">Everything you need to start business. We are 100% positive &amp; hard-working Agency.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto laborum maiores nulla natus a.
                                Aliquid enim dicta veniam eum harum repudiandae doloremque quaerat nobis necessitatibus similique,
                                aut error blanditiis adipisci ab consequatur dolorem ducimus molestiae.</p>
                                <a href="/allclasses" class="btn btn-pill btn-success">Let's Start</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="about_us_image m-xs-top-50 m-md-top-30 wow fadeInUp" data-wow-delay="1s">
                            <img src="img/bg-img/about-us-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Awesome Feature Area End ***** -->

    <!-- ***** Our Speciality Area Start ***** -->
    <section class="our_speciality_area creative_version dark">
        <div class="container">
            <div class="row">
                <!-- Single Speciality Area Start -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_speciality">
                        <div class="single_speciality_icon">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </div>
                        <div class="single_speciality_text">
                            <h5>Latest Bootstrap</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis soluta mollitia, aliquid!</p>
                        </div>
                    </div>
                </div>
                <!-- Single Speciality Area Start -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_speciality">
                        <div class="single_speciality_icon">
                            <i class="fa fa-css3" aria-hidden="true"></i>
                        </div>
                        <div class="single_speciality_text">
                            <h5>Valid HTML5/CSS3</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis soluta mollitia, aliquid!</p>
                        </div>
                    </div>
                </div>
                <!-- Single Speciality Area Start -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_speciality">
                        <div class="single_speciality_icon">
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                        </div>
                        <div class="single_speciality_text">
                            <h5>Awesome Unique Design</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis soluta mollitia, aliquid!</p>
                        </div>
                    </div>
                </div>
                <!-- Single Speciality Area Start -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_speciality">
                        <div class="single_speciality_icon">
                            <i class="fa fa-firefox" aria-hidden="true"></i>
                        </div>
                        <div class="single_speciality_text">
                            <h5>All Browser Compatibility</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis soluta mollitia, aliquid!</p>
                        </div>
                    </div>
                </div>
                <!-- Single Speciality Area Start -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_speciality">
                        <div class="single_speciality_icon">
                            <i class="fa fa-plug" aria-hidden="true"></i>
                        </div>
                        <div class="single_speciality_text">
                            <h5>Unlimited Possibilities</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis soluta mollitia, aliquid!</p>
                        </div>
                    </div>
                </div>
                <!-- Single Speciality Area Start -->
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_speciality">
                        <div class="single_speciality_icon">
                            <i class="fa fa-spinner" aria-hidden="true"></i>
                        </div>
                        <div class="single_speciality_text">
                            <h5>Cool Animations</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis soluta mollitia, aliquid!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Our Speciality Area End <<<<<<<<<<<<<<<< -->

    <!-- >>>>>>>>>>>>>>>> Our Services Area Start <<<<<<<<<<<<<<<< -->
    <section class="what_we_do_area creative_version dark section_padding_0_70" id="service">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Start -->
                    <div class="section_heading">
                        <p>Our Best Service</p>
                        <h4 class="text-white">What we offer</h4>
                    </div>
                </div>
            </div>

            <div class="row">

                    <!-- Single Service Area Start -->
                    <div class="col-md-6 col-lg-4">
                        <div class="single_service text-center">
                            <!-- Single Service image -->
                            <div class="single_service_img">
                                <img src="img/services-img/service-4.jpg" alt="">
                            </div>
                            <!-- Single Service content -->
                            <div class="single_service_content">
                                <h5>Web Design</h5>
                                <p>Classy is completely creative, clean &amp; 100% responsive website.</p>
                                <a href="#" class="btn btn-pill btn-sm btn-primary">Discover More</a>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Service Area Start -->
                    <div class="col-md-6 col-lg-4">
                        <div class="single_service text-center">
                            <!-- Single Service image -->
                            <div class="single_service_img">
                                <img src="img/services-img/service-5.jpg" alt="">
                            </div>
                            <!-- Single Service content -->
                            <div class="single_service_content">
                                <h5>Fashion Design</h5>
                                <p>Classy is completely creative, clean &amp; 100% responsive website.</p>
                                <a href="#" class="btn btn-pill btn-sm btn-primary">Discover More</a>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Service Area Start -->
                    <div class="col-md-6 col-lg-4">
                        <div class="single_service text-center">
                            <!-- Single Service image -->
                            <div class="single_service_img">
                                <img src="img/services-img/service-6.jpg" alt="">
                            </div>
                            <!-- Single Service content -->
                            <div class="single_service_content">
                                <h5>Paint Design</h5>
                                <p>Classy is completely creative, clean &amp; 100% responsive website.</p>
                                <a href="#" class="btn btn-pill btn-sm btn-primary">Discover More</a>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
      <!--      <div class="row">-->

                <!-- Single Service Area Start -->
                <!--coding starts-->

           <!--     <i class="fa fa-chevron-left  back" id="back1" style="font-size:22px;color:green">

                    Back
                </i>

                <br>
                <br>


                <div id="classes"></div>
                <div id="subjects"></div>
                <div id="units"></div>
                <div id="otp1" class="text-center">

                    <h3 class="text-center" style="color:white;text-align:center">Enter Pin </h3>
                    <div class=" form-inline justify-content-center">
                        <input type="text" id="otp" placeholder="Enter Pin..." size="30" class="form-control px-4 py-2">
                        <br>
                        <br>
                        <button type="button" id="getotp" class="btn btn-danger px-4 py-2">Submit </button>

                    </div>-->
                    <!--  <input type="text" id="otp" placeholder="Enter PIN...." required>
                    <button type="button" class="btn btn-outline-dark back" id="getotp">Submit</button>
                  -->
             <!--   </div>
                <script src="/javascripts/makecard.js"></script>-->



                <!--coding ends-->



    </section>
    <!-- >>>>>>>>>>>>>>>> Our Services Area End <<<<<<<<<<<<<<<< -->

    <!-- >>>>>>>>>>>>>>>> Project area start <<<<<<<<<<<<<<<< -->
    <section class="creative_version gallery_area creative_gallery_slider dark clearfix" id="work">

        <!-- Single gallery Item Start -->
        <div class="single_gallery_item app">
            <img src="img/gallery/26.jpg" alt="">
            <!-- Single gallery Item hover caption -->
            <div class="hover_overlay">
                <div class="classy-table">
                    <div class="classy-table-cell">
                        <div class="more_details text-center">
                            <a class="gallery_img text-white" href="img/gallery/26.jpg">
                                <i class="pe-7s-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single gallery Item Start -->
        <div class="single_gallery_item art">
            <img src="img/gallery/27.jpg" alt="">
            <!-- Single gallery Item hover caption -->
            <div class="hover_overlay">
                <div class="classy-table">
                    <div class="classy-table-cell">
                        <div class="more_details text-center">
                            <a class="gallery_img text-white" href="img/gallery/27.jpg">
                                <i class="pe-7s-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single gallery Item Start -->
        <div class="single_gallery_item bra">
            <img src="img/gallery/28.jpg" alt="">
            <!-- Single gallery Item hover caption -->
            <div class="hover_overlay">
                <div class="classy-table">
                    <div class="classy-table-cell">
                        <div class="more_details text-center">
                            <a class="gallery_img text-white" href="img/gallery/28.jpg">
                                <i class="pe-7s-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single gallery Item Start -->
        <div class="single_gallery_item art">
            <img src="img/gallery/29.jpg" alt="">
            <!-- Single gallery Item hover caption -->
            <div class="hover_overlay">
                <div class="classy-table">
                    <div class="classy-table-cell">
                        <div class="more_details text-center">
                            <a class="gallery_img text-white" href="img/gallery/29.jpg">
                                <i class="pe-7s-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- >>>>>>>>>>>>>>>> Project area end <<<<<<<<<<<<<<<< -->

    <!-- >>>>>>>>>>>>>>>> Cool Facts Area Start <<<<<<<<<<<<<<<< -->
    <section class="creative_version cool_facts_area section_padding_50_20">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <h3>
                            <span class="counter">3</span>+</h3>
                        <h5>Years of experience</h5>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <h3>
                            <span class="counter">950</span>+</h3>
                        <h5>Happy Customers</h5>
                    </div>
                </div>


                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <h3>
                            <span class="counter">5</span>+</h3>
                        <h5>Team Members</h5>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <h3>
                            <span class="counter">400,000</span>+</h3>
                        <h5>Line of Code</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- >>>>>>>>>>>>>>>> Cool Facts Area End <<<<<<<<<<<<<<<< -->

    <!-- Footer Area Start -->
    <footer class="footer_area">
        <!-- Top Footer Area Start -->
        <div class="foo_top_header_one section_padding_100_70">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single_foo_part">
                            <h5>About Us</h5>
                            <p>It includes rich features & contents. It's designed & developed based on One Page/ Multi-page
                                Layout. You can use any layout from any demo anywhere.</p>
                            <p>Classy is completely creative, clean & 100% responsive website. Put your business into next level
                                with classy.</p>
                        </div>
                        <div class="single_foo_part m-top-15">
                            <h5>Social Links</h5>
                            <ul class="foo_social_links">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-pinterest" aria-hidden="true"></i> Pinterest</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-youtube" aria-hidden="true"></i> YouTube</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single_foo_part">
                            <h5>Tags Widget</h5>
                            <ul class="tags_widget">
                                <li>
                                    <a href="#">Spe7cial</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Creative</a>
                                </li>
                                <li>
                                    <a href="#">One Page</a>
                                </li>
                                <li>
                                    <a href="#">Multipurpose</a>
                                </li>

                            </ul>
                        </div>

                        <div class="single_foo_part m-top-15">
                            <h5>Important Links</h5>
                            <ul class="imp_links">
                                <li>
                                    <a href="/termsconditions">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>Terms & Conditions</a>
                                </li>

                                <a href="/privacy">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>Privacy Policy</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single_foo_part">
                            <h5>Latest News</h5>
                            <div class="foo_single_blog_area">
                                <div class="foo_blog_thumb">
                                    <img src="img/news-img/blog.jpg" alt="">
                                </div>
                                <a href="#">Your Blog Title Goes Here</a>
                                <p class="foo_blog_date">21 Jan 2017</p>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                            <div class="foo_single_blog_area">
                                <div class="foo_blog_thumb">
                                    <img src="img/news-img/blog-3.jpg" alt="">
                                </div>
                                <a href="#">Your Blog Title Goes Here</a>
                                <p class="foo_blog_date">21 Jan 2017</p>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                            <div class="foo_single_blog_area">
                                <div class="foo_blog_thumb">
                                    <img src="img/news-img/blog-2.jpg" alt="">
                                </div>
                                <a href="#">Your Blog Title Goes Here</a>
                                <p class="foo_blog_date">21 Jan 2017</p>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single_foo_part">
                            <h5>Quick Contact</h5>
                            <div class="foo_single_contact_info">
                                <h5>Phone:</h5>
                                <p>+91 8319339945
                                    <br> +91 7509216390</p>
                            </div>
                            <div class="foo_single_contact_info">
                                <h5>Email:</h5>
                                <p>spclsvn@gmail.com
                                </p>
                            </div>
                        </div>
                        <div class="single_foo_part">
                            <h5>Latest Works</h5>
                            <div class="latest_works">
                                <a class="foo_latest_works_img" href="img/gallery/1.jpg">
                                    <img src="img/gallery/1.jpg" alt="">
                                </a>
                                <a class="foo_latest_works_img" href="img/gallery/4.jpg">
                                    <img src="img/gallery/4.jpg" alt="">
                                </a>
                                <a class="foo_latest_works_img" href="img/gallery/5.jpg">
                                    <img src="img/gallery/5.jpg" alt="">
                                </a>
                                <a class="foo_latest_works_img" href="img/gallery/7.jpg">
                                    <img src="img/gallery/7.jpg" alt="">
                                </a>
                                <a class="foo_latest_works_img" href="img/gallery/10.jpg">
                                    <img src="img/gallery/10.jpg" alt="">
                                </a>
                                <a class="foo_latest_works_img" href="img/gallery/11.jpg">
                                    <img src="img/gallery/11.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom Area Start -->
        <div class="foo_bottom_header_one section_padding_50 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>© All Copyright Reserved by
                            <span style="color:lightcoral !important;font-family: 'Pacifico';font-size :23px;">Spe7</span><span style="color: #00e8e8; font-family: 'Pacifico';font-size:23px;">cial</span>

                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/include-all-plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <!-- Active js -->
    <script src="js/revolution-slider-active/creative-slider-active.js"></script>



</body>


<!-- Mirrored from demo.designing-world.com/classy-baao/classy-multipage/index-creative-dark.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 12 Sep 2018 12:28:36 GMT -->

</html>